[SddmGreeterTheme]
Name=Anime Tactical
Description=Temporary Description
Author=inviter42
Copyright=Copyright (C) 2025 inviter42
License=GPL-3.0-or-later
Type=sddm-theme
Version=0.1
Website=https://github.com/inviter42/sddm-anime-tactical
Screenshot=Previews/PartialBlur.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=inviter42@gmail.com
Theme-Id=anime-tactical
Theme-API=2.11
QtVersion=6