[SddmGreeterTheme]
Name=Anime Tactical
Description=A modern take on the most popular SDDM theme.
Author=Ivan Alantiev
Copyright=Copyright (C) 2018–2020 Marian Arlt, 2025 Ivan Alantiev
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://github.com/inviter42/sddm-anime-tactical
Screenshot=Previews/PartialBlur.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=inviter42@gmail.com
Theme-Id=anime-tactical
Theme-API=2.11
QtVersion=6
